* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color:black;
    color:white;
    position:relative;

}

.quiz-header h1::after {
    content:"☝️";
}

.quiz-header{
    font-size:30px;
}

.timer {
    float:right;
    padding:20px;
    position:relative;
    bottom:70px;
    color:hotpink;
    
}

.quiz-header li {
  
    font-size:20px;
    position:relative;
    left:40px;
    padding:10px;
}

.quiz-header p {
    padding-left:20px;
    color:green;
    font-weight:bold;
}

.complete {
    float:right;
    position:relative;
    top:200px;
    right:60px;
    
}

.restart {
    width:80px;
    height:30px;
    font-weight: bold;
    border-radius: 5px;
    position:relative;
    top:300px;
    left:150px;
}

.exit-game {
    width:80px;
    height:30px;
    font-weight: bold;
    border-radius: 5px;
    position:relative;
    top:300px;
    left:180px;
}

.start {
    width:100px;
    height:30px;
    border-radius: 5px;
    background-color:hotpink;
    border-color:white;
    font-weight: bold;
    margin-left:20px;
}

.quiz-header ol {
    display:block;
    
}

.choice {
   
    padding-left:40px;
    height: 300px;
    
}

.question {
    padding-top: 30px;
    padding-left:20px;
}


.custom-button {
    display:block;
    width:250px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    margin-top: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    position: relative;
    top:50px;
    right:20px;
    font-size: 20px;


   
}

.custom-button:hover {
    background-color:greenyellow
    
}