* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}

body {
    background-color: black;
}

h1 {
    font-size:5rem;
    color:blue;
}

h1::after {
    content:"☝️";
}

.container-1 {
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.submit {
    margin-top:5px;
    width:20%;
    border-color:white;
    background-color:lightgray;
    font-weight: bold;
    border-radius: 5%;
    
}

.high-scores {
    margin-top:5px;
    width:20%;
    background-color:lightgray;
    font-weight:bold;
    border-radius: 5%;
    border-color:white;
}






